# Archivos del sistema
.DS_Store
apigatewaycl/TestResults/
apigatewaycl/.vs/
apigatewaycl/bin/
apigatewaycl/obj/
apigatewaycl/packages/
apigatewaycl/Program.vb
apigatewaycl/nuget.exe
apigatewaycl/*.nuspec
apigatewaycl/*.nupkg

# Archivos de tests
tests/TestEnv.vb
tests/readme.txt
tests/bin/
tests/obj/
tests/Connected Services/
tests/nuget.exe