# Archivos del sistema
.DS_Store
apigatewaycl/TestResults/
apigatewaycl/.vs/
apigatewaycl/bin/
apigatewaycl/obj/
apigatewaycl/packages/
apigatewaycl/Program.cs
apigatewaycl/nuget.exe

# Archivos de tests
tests/TestEnv.cs
tests/readme.txt
tests/bin/
tests/obj/
tests/Connected Services/
tests/nuget.exe